@model FranciscoDavidSantosSousa.Models.Pagamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pagamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaDeVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaDeVenda.IdNotaDeVenda)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPagamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
