@model FranciscoDavidSantosSousa.Models.NotaDeVenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotaDeVenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDaVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDaVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cancelado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cancelado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.devolvido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.devolvido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDePagamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDePagamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDePagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDePagamento.Discriminator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transportadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transportadora.IdTransportadora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.IdVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNotaDeVenda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
