@model FranciscoDavidSantosSousa.Models.PagamentoComCheque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PagamentoComCheque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.banco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.banco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeDoBanco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeDoBanco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeDoCobrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeDoCobrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.informacoesAdicionais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.informacoesAdicionais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaDeVendaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaDeVendaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discriminator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discriminator)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTipoDePagamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
